<div class="flex-1 px-4 pt-6 space-y-12 pb-14 md:px-16 xl:pt-12 xl:px-[148px] 2xl:px-64 xl:space-y-16">
    <% if title %>
    <div class="space-y-8">
        <h1 class="text-lg xl:text-[24px] font-bold uppercase leading-tight font-lead text-sinaptia-accent-blue">
            <%= title %>
        </h1>
    </div>
    <% end %>

    <div class="space-y-12">
        <%= content %>
    </div>
</div>